.container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 100px;
  transition: 0.4s linear;
}

.innerAboutSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.innerAboutSection > div {
  min-height: 300px;
}

.aboutSubHeading {
  margin-bottom: 20px;
  font-weight: 500;
}

.aboutSubHeading > h2 {
  font-size: 23px;
}

.aboutPara {
  margin-bottom: 30px;
}

.aboutPara > p {
  text-align: justify;
  line-height: 1fr;
}

.aboutResume > a > button {
  color: white;
}

.text {
    color: white;
}

@media screen and (max-width: 1051px) {
  .innerAboutSection {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 481px) {
  .container {
    padding: 70px 20px;
  }


}
